Repository skrashevich/InvokeAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mauwii, @lstein, @tildebyte, @Kyle0654, @blessedcoolant, @ebr, @psychedelicious, @keturn, @damian0815, @jpphoto, @hipsterusername

Deployed 03562aa3 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: none

fix docker build
  docker/Dockerfile
Owners: @mauwii, @lstein

Deployed a82c5bba with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: none

Update pyproject.toml
  .github/workflows/build-container.yml
  docker/Dockerfile
  pyproject.toml
Owners: @mauwii, @lstein, @blessedcoolant

Deployed 0649f269 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: none

Update Dockerfile
  docker/Dockerfile
Owners: @mauwii, @lstein

Update Dockerfile
  docker/Dockerfile
Owners: @mauwii, @lstein

Deployed 217f75da with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: none

Update Dockerfile
  .github/workflows/build-container.yml
  docker/Dockerfile
Owners: @mauwii, @lstein

torch.compile in generate.py
  invokeai/backend/generate.py
Owners: @keturn, @damian0815, @lstein, @blessedcoolant, @jpphoto

Free Disk Space
  .github/workflows/build-container.yml
Owners: @mauwii, @lstein

Deployed 95e3906e with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: none

torch.compile fix
  invokeai/backend/generate.py
  invokeai/backend/generator/txt2img.py
  pyproject.toml
Owners: @keturn, @damian0815, @lstein, @blessedcoolant, @jpphoto, @mauwii

Deployed 745635aa with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: none

Deployed 98179629 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: none

Update Dockerfile
  docker/Dockerfile
Owners: @mauwii, @lstein

Deployed 8176d823 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: none

Add gcc to base image for triton
  docker/Dockerfile
Owners: @mauwii, @lstein

flag to disable torch.compile()
  invokeai/app/api/dependencies.py
  invokeai/backend/args.py
  invokeai/backend/generate.py
  invokeai/backend/generator/txt2img.py
  invokeai/backend/globals.py
  invokeai/frontend/CLI/CLI.py
Owners: @Kyle0654, @blessedcoolant, @keturn, @damian0815, @lstein, @jpphoto

Deployed d8129fe5 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: none

Update pyproject.toml
  pyproject.toml
Owners: @mauwii, @lstein, @blessedcoolant

Deployed be02725b with MkDocs version: 1.4.2
  installation/020_INSTALL_MANUAL/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

Deployed 482db7f2 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: none

Enable sequential CPU offload and attention slicing in Img2Img, Inpaint, Txt2Img, and Txt2Img2Img generators
  invokeai/backend/generator/img2img.py
  invokeai/backend/generator/inpaint.py
  invokeai/backend/generator/txt2img.py
  invokeai/backend/generator/txt2img2img.py
Owners: @keturn, @damian0815, @lstein, @blessedcoolant, @jpphoto

.github/CODEOWNERS:

# continuous integration
/.github/workflows/ @mauwii @lstein

# documentation
/docs/ @lstein @mauwii @tildebyte
/mkdocs.yml @lstein @mauwii

# nodes
/invokeai/app/ @Kyle0654 @blessedcoolant

# installation and configuration
/pyproject.toml @mauwii @lstein @blessedcoolant
/docker/ @mauwii @lstein
/scripts/ @ebr @lstein
/installer/ @lstein @ebr
/invokeai/assets @lstein @ebr
/invokeai/configs @lstein
/invokeai/version @lstein @blessedcoolant

# web ui
/invokeai/frontend @blessedcoolant @psychedelicious @lstein
/invokeai/backend @blessedcoolant @psychedelicious @lstein

# generation, model management, postprocessing
/invokeai/backend @keturn @damian0815 @lstein @blessedcoolant @jpphoto

# front ends
/invokeai/frontend/CLI @lstein
/invokeai/frontend/install @lstein @ebr @mauwii 
/invokeai/frontend/merge @lstein @blessedcoolant @hipsterusername
/invokeai/frontend/training @lstein @blessedcoolant @hipsterusername
/invokeai/frontend/web @psychedelicious @blessedcoolant
